body {
    background-color:var(--background-color);
    color:var(--color);
}

.site-header {
    background: var(--header-bg);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    padding: .10rem;
    margin-bottom: 1.5rem;
}

.site-header a {
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: ease-in-out color .15s;
}

.site-header .dropdown-item {
    color: #212529;
}

.site-header .dropdown-item:hover {
    color: #2d3339;
}

.site-header a:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    text-decoration: none;
}

.navbar-brand .logo {
    max-width: 105px;
}

.landing-bg{
    padding: 10rem 5rem;
    margin-top: -1.5rem;
    background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
    color:white;
}