.site-header {
    background-color: #005793e8;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    padding: .75rem;
    margin-bottom: 1.5rem;
}

.site-header a {
    color: white;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #b7b7b7;
    text-decoration: none;
}

.navbar-brand .logo {
    max-width: 150px;
}
